header h1 {
  font-size: 36px;
}
header #hamburger {
  display: none;
}
header #navbar-links {
  width: 50%;
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: auto;
  position: relative;
  animation: none;
}
