.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-16);
}
.portrait {
  width: 40vw;
  max-width: 250px;
  border-radius: 50%;
}
.text p {
  margin: var(--space-16);
}
.text h2,
.text h3 {
  text-align: center;
}

.waterColor {
  transform: scale(-1, 1);
  z-index: -10;
  position: absolute;
  opacity: 80%;
  width: 90vw;
  max-width: 800px;
  top: 0vh;
  left: 0vw;
}

@media screen and (min-width: 768px) {
  .waterColor {
    display: none;
  }
  .introduction {
    flex-direction: row-reverse;
  }
}
