.history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline {
  max-width: 940px;
  margin: auto;
  position: relative;
}

.timelineList {
  padding: 40px 0;
}

.isHidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  margin: 0 10px;
  padding: 0;
}

.timelineListItem {
  display: flex;
  line-height: 1.5;
}

.date {
  width: 20%;
  padding: 0 0 0 20px;
}

.content {
  position: relative;
  width: 80%;
  padding: 0 20px 30px 30px;
  border-left: 1px solid var(--color-9);
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.location {
  color: var(--color-8);
  font-size: 14px;
}

.jobDescription {
  margin-top: 12px;
}

.content::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: var(--color-6);
  border-radius: 10px;
}

.contentStudent {
  position: relative;
  width: 80%;
  padding: 0 20px 30px 30px;
  border-left: 1px solid var(--color-9);
}

.contentStudent::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: var(--color-5);
  border-radius: 10px;
}

.lifeEvent {
  position: relative;
  width: 80%;
  padding: 0 20px 30px 30px;
  border-left: 1px solid var(--color-9);
}

.lifeEvent::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: var(--color-7);
  border-radius: 10px;
}

.more {
  height: 30vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(transparent, white);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.moreButton {
  width: 120px;
  background-color: var(--color-10);
  padding: var(--space-8);
  border: none;
  font-size: 16px;
  border-radius: var(--space-24);
}
