.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-48);
}

.project {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  align-items: center;
}

.projectDetail {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  padding: var(--space-16);
}

.projectTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: var(--space-16);
}

.projectTitle p {
  font-size: 24px;
  font-weight: bold;
}

.projectType p {
  font-style: italic;
  font-size: 14px;
}

.projectTitleLink {
  display: block;
  text-decoration: none;
  color: inherit;
}

.projectTitleLink:hover {
  text-decoration: underline;
}

svg {
  font-size: 24px;
}

.mediaLink {
  display: block;
  width: 100%;
}

.video,
.image {
  width: 100%;
  border-radius: var(--space-24);
}

/* Yasuragi carousel */
.slide {
  width: 100%;
  border-radius: var(--space-24);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slide button {
  padding: var(--space-8);
  font-size: 24px;
  border: none;
  border-radius: var(--space-16);
  background-color: var(--color-1);
  color: var(--color-9);
  cursor: pointer;
}

.yasuragiImages {
  display: flex;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.yasuragiImages img {
  width: 100%;
  border-radius: var(--space-16);
}

@media screen and (min-width: 768px) {
  .project {
    flex-direction: row;
    align-items: center;
  }

  .projectDetail {
    width: 50%;
    justify-content: center;
  }

  .mediaLink,
  .slide {
    width: 50%;
  }

  :global(#MovieFlix).project,
  :global(#TaskOptima).project,
  :global(#Yukainsweden).project {
    flex-direction: row-reverse;
  }
}
