.footer {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.contacts {
  margin-bottom: var(--space-24);
}
.icon {
  font-size: 36px;
  margin: 16px;
  path {
    fill: var(--color-8);
  }
}

.icon p {
  font-size: 14px;
}
