@charset "UTF-8";
/* digital clock font */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
/* Jost */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* Outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* Assistant */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

:root {
  --color-1: #fffefc;
  --color-2: #b2e4ec;
  --color-3: #fcdddf;
  --color-4: #fef3d6;
  --color-5: #00a5bf;
  --color-6: #f69096;
  --color-7: #fdd876;
  --color-8: #324356;
  --color-9: #aaaaaa;
  --color-10: #ededed;
  --color-11: black;
  --space-0: 0px;
  --space-4: 4px;
  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;
  --space-48: 48px;
  --space-72: 72px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-11);
  text-decoration: none;
  font-family: Outfit;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;

  -webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar {
  width: 3vw;
  max-width: 25px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}

body::-webkit-scrollbar-track {
  background: linear-gradient(
    to bottom,
    var(--color-6),
    var(--color-7),
    var(--color-5)
  );
}

main {
  display: flex;
  justify-content: center;
}

.displayNone {
  display: none !important;
}

.fade {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.5s, transform 1s;
}
.fade.active {
  opacity: 1;
  transform: translateY(0px);
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contentName {
  font-size: 36px;
  margin: var(--space-24);
  text-align: center;
}
